


// foundation
@use "./foundation/forwards" as *;
@use "./foundation/reset";
@use "./foundation/base";

// layout
@use "./layout/header";
@use "./layout/main";
@use "./layout/footer";

// project
// component
@use "./object/component/button";

// component
@use "./object/project/header" as p-header;
@use "./object/project/footer" as p-footer;
@use "./object/project/about";


// utility
// @use "./object/utility/display";

