@use "../../foundation/forwards" as *;

.p-header-logo {
  width: 100px;
}
.p-header-hamburger {
  width: 50px;
  aspect-ratio: 1/1;
  padding: 12.5px 8px;
}

.p-header-list {
  display: flex;
  flex-direction: column;

  &__item {
    position: relative;
    padding: 16px 0;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $c-accent;
    }

    &--cta {
      margin-top: 32px;
    }
  }
  &__link {
    font-size: $font-size-lg;
  }
  &__link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & button {
      width: 15px;
      height: 20px;
      transition: all 0.3s ease-out;
      margin-left: 8px;
      &.active {
        rotate: 180deg;
      }
    }
  }
  @include breakpoint(pc) {
    flex-direction: row;
    align-items: center;
    height: 100%;
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      height: 100%;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $c-accent;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }

      &--cta {
        margin-top: initial;
      }
    }

    &__link {
      font-size: $font-size-lg;

      &--cta {
        font-size: $font-size-lg;
      }
    }
  }
}

.p-header-sublist {
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.7s ease-in-out;
  &.active {
    max-height: 100dvh;
  }
  &__item {
    position: relative;
    padding: 16px 0;
  }

  &__link {
    font-size: $font-size-md;
    padding-left: 8px;
    &::before {
      content: "-";
      padding-right: 4px;
    }
  }

  @include breakpoint(pc) {
    position: absolute;
    top: $header-height;
    left: 0;
    width: max-content;
    background-color: $c-header;
    &__item {
      padding: 16px;
      &:last-child {
        padding: 16px;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $c-accent;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    &__link {
      font-size: $font-size-base;
      padding-left: 0px;
    }
  }
}
