// ブレイクポイント
$breakpoint-sp: 767px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 1200px;
$breakpoint-l-pc: 1440px;

// カラーパレット
//背景色
$c-black: #000000;
$c-white: #ffffff;

$c-primary: #2E7D32;     
$c-secondary: #81C784;   
$c-accent: #FFCA28;     

$c-bg: #F3F5FA;    
$c-header: rgba($color: $c-primary, $alpha: 0.8);    

// フォントサイズ
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-base: 1.6rem;
$font-size-md: 1.8rem; 
$font-size-lg: 2.0rem; 
$font-size-xl: 2.4rem; 

$font-size-h1-sp: 2.4rem;   
$font-size-h1-pc: 3.2rem;   
$font-size-h2-sp: 2.0rem;   
$font-size-h2-pc: 2.8rem;  
$font-size-h3-sp: 1.8rem;   
$font-size-h3-pc: 2.4rem; 



$header-height: 75px; 


