@use "../../foundation/forwards" as *;

.c-hamburger {
  flex-direction: column;
  justify-content: space-between;
  & span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $c-white;
    transition: all 0.3s ease-in;

    &:nth-child(1) {
      transform-origin: right top;
    }
   
    &:nth-child(3) {
       transform-origin: right bottom;
    }
  }

  &.active {
    & span {
      &:nth-child(1) {
        rotate: -45deg;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        rotate: 45deg;
      }
    }
  }
}

.c-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $c-accent;
}
